[submodule "LaBelleRenderer/vendor/GLFW"]
	path = LaBelleRenderer/vendor/GLFW
	url = https://github.com/BavleyDanial/glfw
[submodule "LaBelleRenderer/vendor/ImGui"]
	path = LaBelleRenderer/vendor/ImGui
	url = https://github.com/BavleyDanial/imgui.git
	branch = docking
[submodule "LaBelleRenderer/vendor/glm"]
	path = LaBelleRenderer/vendor/glm
	url = https://github.com/BavleyDanial/glm.git
